.contato {
    
    margin: 0 auto;
    width: 60vw;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    
}


.contato .title {
    
    position: absolute;
    top: -22px;
    background-color: white;
    padding: 0 10px 0 10px;
    font-family: 'Oregano', cursive;
    color: var(--second-color);
    font-size: 30px;
    margin-bottom: 10px;
    
}

.formContatoGroup {

    margin-bottom: 20px;
    margin-top: 10px;
    border: none;

}

.formInput {

    height: 35px;
    position: relative;
    width: 100%;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 5px;
    outline: none;

}

.formContatoGroup label {
    position: relative;
}

.labelInput {

    position: absolute;
    z-index: 1;
    top: -20px;
    background-color: white;
    left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: var(--second-color);

}

.labelInputDetail {
    position: absolute;
    z-index: 1;
    top: -145px;
    background-color: white;
    left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    color: var(--second-color);
    outline: none;
}

textarea.formInput {

    resize: none;
    height: 150px;

}

select.formInput {

    background-color: white;

}

.assuntoOption {
    color: #f3b0b0;
}

.textareaContato {
    color: var(--second-color);
}

.buttonsFormContato {

    border: none;
}

.buttonEnviarFormContato {

    padding: 10px 20px;
    background-color: var(--second-color);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;

}

.buttonEnviarFormContato:hover {
    background-color: #be3737;;
}