footer {
    
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(22, 22, 22);
    color: var(--second-color);
    margin-top: 100px;

}
