* {
    padding: 0;
    margin: 0;
}


.dropdownMenu {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    background-color:rgb(22, 22, 22);
}



.dropdownMenu div{

    font-weight: 700;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

.dropdownMenu .dropdownMenu-item:hover {
    background-color: rgba(0, 0, 0, 0.37);
}

.dropdownMenu div li{

    list-style-type: none;
    padding: 18px 20px;
    color: var(--second-color);

}

.dropdownMenu div a {
    text-decoration: none;
}

.dropdownMenu div.atual{

    background-color: var(--second-color);
    border-radius: 2px;

}

.dropdownMenu div.atual li {
    color: rgb(22, 22, 22);
}

.dropdownBox-trufas {
    position: absolute;
    z-index: 10;
    display: none;
    background-color:rgb(22, 22, 22);
    width: 180px;
    border-radius: 0 0 5px 5px;
}

.dropdownMenu-item-trufas:hover .dropdownBox-trufas {
    animation: fadeIn 0.3s;
    display: block;
}

.dropdownBox-trufas a:hover {
    background-color: red;
}

.dropdownMenu-item-login {
    margin-left: auto;
}

.bannerPrincipal, .bannerPrincipal {
    width: 100%;
}



.dropdownMenu .dropdownMenu-item-login li {
    background-color: var(--second-color);
    color: var(--main-color);
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}



.dropdownMenu-item-home i{
    color: rgb(12, 12, 12);
}





