* {
    padding: 0;
    margin: 0;
}


.headerNav {
    width: 100%;
}

.dropdownMenu {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.062);
    transition: background-color 0.5s;
}

.dropdownMenu:hover {
    background-color:rgba(0, 0, 0, 0.158);
}

.dropdownMenu div{

    font-weight: 700;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

.dropdownMenu .dropdownMenu-item:hover {
    background-color: rgba(0, 0, 0, 0.37);
}

.dropdownMenu div li{

    list-style-type: none;
    padding: 18px 20px;
    color: var(--second-color);

}

.dropdownMenu div a {
    text-decoration: none;
}

.dropdownMenu div.atual{

    background-color: var(--second-color);
    border-radius: 2px;

}

.dropdownMenu div.atual li {
    color: var(--main-color);
}

.dropdownBox-trufas {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.37);
    width: 180px;
    border-radius: 0 0 5px 5px;
}

.dropdownMenu-item-trufas:hover .dropdownBox-trufas {
    animation: fadeIn 0.3s;
    display: block;
}

.dropdownBox-trufas a:hover {
    background-color: red;
}

.dropdownMenu-item-login {
    margin-left: auto;
}

.logo-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30em;
    background-image: url("../img/banner-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oregano', cursive;
}

.logo-text h1 {
    font-size: 5em;
    color: var(--second-color);
}

.logo-subtitle {
    font-size: 1.5em;
    font-family: sans-serif;
    font-variant: small-caps;
    color: rgb(204, 204, 204);
    position: relative;
}

.logo-subtitle::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    top: 12px;
    margin-left: 40px;
    background-color: rgb(204, 204, 204)
}

.logo-subtitle::before {
    content: "";
    position: absolute;
    width: 100px;
    top: 12px;
    height: 8px;
    left: -85px;
    background-color: rgb(204, 204, 204)
}

.dropdownMenu .dropdownMenu-item-login li {
    background-color: var(--second-color);
    color: var(--main-color);
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.dropdownMenu-item-home i{
    color: rgb(12, 12, 12);
}





