.destaques {
    
    margin: 0 auto;
    max-width: 75em;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    position: relative;
    
}


.destaques .title {
    
    position: absolute;
    top: -22px;
    background-color: white;
    padding: 0 10px 0 10px;
    font-family: 'Oregano', cursive;
    color: var(--second-color);
    font-size: 30px;
    margin-bottom: 10px;
    
}

.boxDestaques-produtos {

    display: flex;
    flex-wrap: wrap;
}

.boxDestaques-item {
    flex-basis: 25%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
}

.boxDestaques-item:hover {

    cursor: pointer;
    transform: scale(1.08);

}

.boxDestaques-item-photo {

    padding: 15px;
    flex:2;


}

.boxDestaques-item-photo img {

    margin: auto;
    border-radius: 5px;
    width: 100%;
    transition: border-radius 0.5s;

}


.boxDestaques-item-dados {
    flex: 1;
}

.boxDestaques-item-button-comprar {
    flex:0.8;
}

.boxDestaques-item-dados {

    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.boxDestaques-item-dados-nome {
    margin-bottom: 10px;
    color: var(--fourth-color);
    font-variant: small-caps;
    font-weight: bolder;
}

.boxDestaques-item-dados-preco {
    font-size: 27px;
    margin-bottom: 5px;
    color: var(--second-color);
}

.boxDestaques-item-button-comprar {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.boxDestaques-item-button-comprar button{
    margin: 0 auto;
    width: 90%;
    height: 50px;
    background-color: white;
    border: 2px solid var(--third-color);
    border-radius: 3px;
    font-size: 20px;
    color: var(--third-color);
    cursor: pointer;
    transition: background-color 0.5s, color 0.3s;
}

.boxDestaques-item-button-comprar button:hover {

    background-color: var(--third-color);
    color: white;

}

.boxDestaques-item-dados-precoCartao {
    color: var(--fourth-color);
}

.parcelaCartao-msg {
    font-size: 14px;
}

.categorias {
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    column-gap: 10px;
    row-gap: 10px;
    margin: 20px auto;
    max-width: 75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
}

.categorias > div {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    background-size: cover;
    transition: transform 0.5s;
    background-position:right;
    font-family: 'Oregano', cursive;
}

.categoria-text h3{
    font-size: 2em;
    color: white;
}

.categoria-subtitle {
    font-size: 1.5em;
    color: white;
    position: relative;
}

.categorias div:hover {
    cursor: pointer;
}

.categoriaDoces {
    background-image: url("./../img/categoriaDoces.png");
}

.categoriaTrufas {
    background-image: url("./../img/categoriaTrufas.png");
}

.categoriaBolos {
    background-image: url("./../img/categoriabolos.png");
}

.categoriaSobremesas {
    background-image: url("./../img/categoriaSobremesas.png");
}

.avaliacoes {
    width: 90vw;
    font-family: 'Montserrat', sans-serif;
    margin: 30px auto;
    text-align: center;
    font-size: 25px;

}

.boxHistoria {
    border-radius: 5px;
    max-width: 50em;
    margin: 0 auto;
    padding: 10px;
}

.avaliacoes .desdeAno {
    font-size: 50px;
    font-variant: small-caps;
    color: var(--third-color);
    background-color: white;
}

.stars {
    color: var(--third-color);
    background-color: white;
}

.avaliacoes .historia {
    max-width: 40em;
    margin: 15px auto;
    font-size: 18px;
}

#diasMaisDoces {
    color: var(--fourth-color);
    margin-top: 10px;
}

.separator img {
    background-color: transparent;
}

.frasesAvaliacoes {

    max-width: 75em;
    margin: 0 auto;

}

.frasesAvaliacoes .avaliacao {

    margin-bottom: 40px;
    display: flex;
    align-items: center;
    background-color: #fff1f1;
    border-radius:  140px 0 0 140px;
    border-right: 5px solid #f18e8e;
}

.frasesAvaliacoes .avaliacao.feedback2 {

    border-radius: 0 140px 140px 0;
    border-right: 0;
    border-left: 5px solid #f18e8e;

}


.avaliacao img {

    border-radius: 100%;
    
}

.avaliacao .frase {

    width: 50vw;
    margin-left: auto;
    padding: 80px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 35px;

}

.boxFrase {

    display: flex;
    flex-direction: column;

}

.boxFrase .author {

    color: rgb(34, 34, 34);
    text-align: right;
    line-height: 20px;
    font-size: 15px;
    margin-left: auto;

}

.boxFrase .authorDescription {

    font-size: 13px;

}


